@model Calendar_Apriorit.ViewModel.EventVM
@{
    ViewBag.Title = "Calendar";
}
<head>

<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="~/Content/calendar_style.css">

</head>

<body>
    <div id="calendar">
        <div id="calendar_header">
            <a class="icon-chevron-left">&lt</a>  
                <h1></h1>
            <a class="icon-chevron-right">&gt</a>
        </div>
        <div id="calendar_weekdays"></div>
        <div id="calendar_content"></div>
    </div>
    
    <script src="~/Scripts/Calendar.js"></script>
    <script src="~/Scripts/moment.js"></script>
</body>
