@model Calendar_Apriorit.ViewModel.EventVM

@{
	ViewBag.Title = "Calendar";
}
<link rel='stylesheet prefetch' href='~/Content/font-awesome.css'>

<link rel="stylesheet" href="~/Content/calendar_style.css">

<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<div id="calendar">
	<div id="calendar_header"><i class="icon-chevron-left"></i>          <h1></h1><i class="icon-chevron-right"></i>         </div>
	<div id="calendar_weekdays"></div>
	<div id="calendar_content"></div>
</div>

<script src="~/Scripts/Calendar.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
		$.ajax({
			type: "POST",
			//сделать гет
			url: "/Calendar/ShowEvents",
			data: {},
			beforeSend: function () {


			},
			success: function (response) {
				
				alert("Sucsses");
				console.log(response);


			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}
		});
	});
</script>


